body {
    background-color: rgb(196, 255, 250);
}

h1 {
  font-family: monospace;
  text-align: center;
}

#color-palette {
  text-align: center;
}

.color {
  border: 1px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: inline-block;
}

#pixel-board {
  margin: 0 auto;
  margin-top: 20px;
  width: 220px;
}

.pixel {
  border: 1px solid black;
  margin: 0px;
  margin-top: -4px;
  background-color: white;
  width: 40px;
  height: 40px;
  display: inline-table;
}
